<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button menu="m1">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-img 
        src="assets/images/statusPageImage.png" 
        alt="img"
        style="width: 50%; display:block; margin:auto"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px">
      <ion-col class="ion-text-center">
        <h2>{{dateObj | date:'MMMM yyyy'}}</h2>
        <ion-item style="max-width: 400px; display: block; margin: auto;">
          <ion-label>Month-year</ion-label>
          <ion-datetime displayFormat="MMM YYYY" value='{{ dateObj | date:"MMMM-yyyy" }}' (ionChange)="changeDate($event)" ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showTable">
      <ion-col size-sm="6" offset-sm="3">
        <table>
          <tr>
            <th>EXPENDITURE</th>
            <th>CURRENT</th>
            <th>MAX</th>
          </tr>
          <tr>
            <th>Home rent</th>
            <td>C$ {{status.homeRent?status.homeRent.amount:0}}</td>
            <td>C$ 410</td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>C$ {{status.phone?status.phone.amount:0}}</td>
            <td>C$ 52.27</td>
          </tr>
          <tr>
            <th>Internet</th>
            <td>C$ {{status.internet?status.internet.amount:0}}</td>
            <td>C$ 60</td>
          </tr>
          <tr>
            <th>Fuel</th>
            <td>C$ {{status.fuel?status.fuel.amount:0}}</td>
            <td>C$ 80</td>
          </tr>
          <tr>
            <th>Grocery</th>
            <td>C$ {{status.grocery?status.grocery.amount:0}}</td>
            <td>C$ 200</td>
          </tr>
          <tr>
            <th>MyGrocery</th>
            <td>C$ {{status.myGrocery?status.myGrocery.amount:0}}</td>
            <td>C$ 50</td>
          </tr>
          <tr>
            <th>Gymnasium</th>
            <td>C$ {{status.Gymnasium?status.Gymnasium.amount:0}}</td>
            <td>C$ 16.08</td>
          </tr>
          <tr>
            <th>Others</th>
            <td>C$ {{status.others?status.others.amount:0}}</td>
            <td>C$ 30</td>
          </tr>
          <tr>
            <th>Self Investment</th>
            <td>C$ {{status.SelfInvestment?status.SelfInvestment.amount:0}}</td>
            <td>&#8734;</td>
          </tr>
          <tr>
            <th>Income</th>
            <td>C$ {{status.income?status.income.amount:0}}</td>
            <td>&#8734;</td>
          </tr>
          <tr>
            <th>Business expense</th>
            <td>C$ {{status.businessExpense?status.businessExpense.amount:0}}</td>
            <td>&#8734;</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
    <br>
    <ion-row *ngIf="showTable">
      <ion-col size-sm="6" offset-sm="3">
        <table>
          <tr>
            <th>Earned</th>
            <td>C$ {{status2.earned?status2.earned.amount:0}}</td>
          </tr>
          <tr>
            <th>Spent</th>
            <td>C$ {{status2.spent?status2.spent.amount:0}}</td>
          </tr>
          <tr>
            <th>Saved</th>
            <td>C$ {{status2.saved?status2.saved.amount:0}}</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
    <br>
    <ion-row *ngIf="showTable">
      <ion-col size-sm="6" offset-sm="3">
        <table>
          <tr>
            <th>CIBC debit card</th>
            <td>C$ {{status3.cibcDebitCard?status3.cibcDebitCard.amount:0}}</td>
          </tr>
          <tr>
            <th>CIBC credit card</th>
            <td>C$ {{status3.cibcCreditCard?status3.cibcCreditCard.amount:0}}</td>
          </tr>
          <tr>
            <th>Interact E transfer</th>
            <td>C$ {{status3.interactETransfer?status3.interactETransfer.amount:0}}</td>
          </tr>
          <tr>
            <th>Cash</th>
            <td>C$ {{status3.cash?status3.cash.amount:0}}</td>
          </tr>
          <tr>
            <th>Forex card</th>
            <td>C$ {{status3.forexCard?status3.forexCard.amount:0}}</td>
          </tr>
          <tr>
            <th>Not Applicable</th>
            <td>C$ {{status3.nA?status3.nA.amount:0}}</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
